/*
* Main structure
*/
div.row.size-text { height: 40px; padding-top: 10px; }
div.row.header { height: 128px; }
div.row.menu-panier { height: 44px; background: url("../img/bg_menu.png") repeat-x scroll 0 0 transparent; }
div.row.after-menu { height: 52px; background-color: #869e03 }
div.row.featured { height: 520px; background: url("../img/featured.png") repeat-x scroll 0 0 transparent; }
div.row.traits { height: 508px; }
div.row.services { height: 550px; background: url("../img/services.png") repeat-x scroll 0 0 transparent; }
div.row.temoignages { height: 499px; background-color: #ccdc39 }
div.row.forfait { height: 655px; background: url("../img/bg_forfait.png") repeat-x scroll 0 0 transparent; }
div.row.meilleur-telephones { height: 1011px; background: url("../img/bg-meilleur-telephones.png") repeat-x scroll 0 0 transparent; }
div.row.option-paiement { height: 124px; }
div.row.footer { height: 368px; }

/*
* size-text department
*/
.icon-augmenter {  background: url("../img/augmenter.png") no-repeat scroll 0 0 transparent; padding-left: 25px; }
.size-text .a3 { margin-right: 17px; padding-right: 17px; }

/*
* header
*/
.header .besoin-aide{ background: url("../img/besoin-aide.png") no-repeat scroll 0 0 transparent; height: 119px; padding-left: 125px;}

/*
* menu-panier
*/

/*
* after-menu
*/
.after-menu .col-md-4 { height: 30px; }
.after-menu .garantie { background: url("../img/garantie.png") no-repeat scroll 0 0 transparent; }
.after-menu .telephone-debloque { background: url("../img/telephone-debloque.png") no-repeat scroll 0 0 transparent; }
.after-menu .telephone-stock { background: url("../img/telephone-stock.png") no-repeat scroll 0 0 transparent; }
.after-menu .expedition { background: url("../img/expedition.png") no-repeat scroll 0 0 transparent; }

/*
* featued
*/
.custom-btn-1 { background: url("../img/btnobtenez.png") no-repeat scroll 0 0 transparent; width: 295px; height: 52px; display: block;}



/*Misc*/

.border-right-1 { border-right: 1px solid #000;}